<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Ticket Tracker Application</title>
</head>

<body>

	<div class="container">

		<h3>List of Tickets</h3>
		<hr>

		<!-- Add a button -->
		<a th:href="@{/tickettracker/new}" class="btn btn-primary btn-sm mb-3">
			Add Tickets</a>


		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created On</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ticket: ${tickets}">

					<td th:text="${ticket.ticketId}" />
					<td th:text="${ticket.ticketTitle}" />
					<td th:text="${ticket.ticketShortDescription}" />
					<td th:text="${ticket.ticketCreatedOn}" />

					<td>
						<div class="row">

							<div class="col-small">
								<!-- Add "edit" button/link -->
								<a th:href="@{/tickettracker/edit/{id}(id=${ticket.ticketId})}"
									class="btn btn-primary btn-sm mb-3"> Edit </a>

							</div>

							<div class="col-small">
								<!-- Add "delete" button/link -->

								<a th:href="@{/tickettracker/delete/{id}(id=${ticket.ticketId})}"
									class="btn btn-danger btn-sm"
									onclick="if (!(confirm('Are you sure you want to delete this ticket details?'))) return false">
									Delete </a>

							</div>
							
							<div class="col-small">
								<!-- Add "view" button/link -->
								<a th:href="@{/tickettracker/edit/{id}(id=${ticket.ticketId})}"
									class="btn btn-primary btn-sm mb-3"> View </a>

							</div>
							
					</td>


				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>
